# ==========================
# Python
# ==========================
backend/venv/
**/__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment Variables
# ==========================
backend/.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Alembic Cache
# ==========================
backend/alembic/__pycache__/

# ==========================
# Temporary Files
# ==========================
backend/structure.txt

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db